body{margin: 0; padding: 0; height: 3000px;background: #e1e1e1; }
ul,li{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none; color: white;}
.container{width: 1280px;margin: 0 auto;background: #404040; z-index: 3;}
header.header{height: 60px;background: #404040;min-width: 1280px;}
header.header nav{height: 60px;color: #fff;position: relative;}
header.header nav .logo{float: left;display: block;	height: 60px;line-height: 60px;padding: 7px;}
header.header nav menu{float: right;margin: 0 ;padding: 0;line-height: 60px;}
header.header nav menu .range{width: 100px;height: 45px;background: #0087cd;position: absolute;left: 0;top: 7px;}
header.header nav menu .menuItem{float: left;margin-left: 25px;position: relative;padding: 0 20px;}
header.header nav menu .menuItem.mainMenu{position: static;}
header.header nav menu .menuItem.mainMenu .item-title{position: relative;}
header.header nav menu .menuItem .drop-down{position: absolute;background: #525252; opacity:0.9;left: 0;top: 80px;display: none;}
header.header nav menu .menuItem .drop-down.drop-down-main-menu{width: 100%;height:210px;}
header.header nav menu .menuItem .drop-down.drop-down-main-menu .main-txt-cont{margin-left: 40px; float: left; width: 134px;}
header.header nav menu .menuItem .drop-down.drop-down-main-menu .main-txt-cont .main-txt-a{border-bottom:1px gray solid; text-align: center;}
header.header nav menu .menuItem .drop-down.drop-down-main-menu .main-txt-b .main-txt-b-title{margin-top: -20px;}
header.header nav menu .menuItem .drop-down.drop-down-main-menu .main-txt-b .main-txt-b-title .main-bb{ font-size: 12px; color: #c2cbcb; text-align: center;}
header.header nav menu .menuItem .drop-down.drop-down-main-menu .main-txt-b .main-txt-b-title .main-bb:hover{color: #1E90FF;}
header.header nav menu .menuItem .drop-down.drop-down-main-menu .main-txt-b .main-txt-b-title .main-bb.main-bb-1{margin-top: 10px;}
header.header nav menu .menuItem .drop-down.drop-down-main-menu .main-txt-b span{display: block; margin-top: -30px;}		
header.header nav menu .menuItem .drop-down.drop-down-menu{width: 100%;height:auto;background: #525252; }
header.header nav menu .menuItem .drop-down.drop-down-menu span{margin-top: 10px; display: block;}	
header.header nav menu .menuItem .drop-down.drop-down-menu .menu-title{margin-top: -10px; color: #c2cbcb; text-align: center;font-size: 14px; }
header.header nav menu .menuItem .drop-down.drop-down-menu .menu-title:hover{color: #1E90FF; cursor: pointer;}
header.header nav menu .menuItem .drop-down.drop-down-menu .menu-txt{margin-top: -30px; color: #c2cbcb; font-size: 14px; text-align: center;}
header.header nav menu .menuItem .drop-down.drop-down-menu .menu-txt:hover{color: #1E90FF; cursor: pointer;}									
.banner .box-img img{width: 1518px; height: 500px; padding: 0; margin: 0;}
.banner{width: 1518px;height: 500px; overflow: hidden; position: relative;  top: -14px;}
.banner .box-img{width: 4554px; height: 500px;background: gainsboro; position: absolute;}
.banner .box-img li{float: left;}
.banner .btn{position: absolute;top: 240px; width: 20px;height: 20px; background: gainsboro; padding: 10px;}
.banner .btn:hover{background: dodgerblue;}
.banner .btn.xyz{right:100px;}
.banner .btn.syz{z-index: 1;left: 100px;}
.banner .list{position: absolute; top: 460px; left: 700px;}
.banner .li-ct{z-index: 1; position: absolute;bottom: 10px;left: 700px;}
.banner .li-ct li{width: 10px; height: 10px;display: inline-block;border-radius: 50%;
			margin-left:10px; border: 2px black solid;}
.banner .li-ct li.active{background: red;}				
.four-list{width: 100%; height: 580px; background: lightgray; margin-top: -20px;}
.four-list .list img{background: dodgerblue; margin-left: 70px;}
.four-list .list .txt{ width: 250px;}
.four-list .list{float: left; margin-left: 100px;  margin-top: 180px;  width: 250px; height: 400px; display: none;}
.four-list .list .list-1{padding: 20px;}
.four-list .list .list-2{padding: 22px 20px;}
.four-list .list .list-3{padding: 18px 28px;}
.four-list .list .list-4{padding: 22px 13px ;}
.four-list .list .titl{ font-size: 20px;margin-left: 70px;padding-top: 50px; }
.four-list .list .time{font-size: 14px; color: gray; margin-left: 70px;}
.four-list .list .a,.b,.c,.d,.f{font-size: 16px; color: #333333;}
.four-list .list .a{margin-left: 50px;}
.four-list .list .a.aa{margin-left: 60px;}
.four-list .list .a.aaa{margin-left: 25px;}
.four-list .list .a.aaaa{margin-left: 60px;}
.four-list .list .b{margin-left: 60px;}
.four-list .list .b.bb{margin-left: 63px;}
.four-list .list .b.bbb{margin-left: 52px;}
.four-list .list .b.bbbb{margin-left: 30px;}
.four-list .list .c{margin-left: 65px;}
.four-list .list .c.cc{margin-left: 40px;}
.four-list .list .c.cccc{margin-left: 30px;}
.four-list .list .d{margin-left: 25px;}
.four-list .list .d.dd{margin-left: 55px;}
.four-list .list .d.ddd{margin-left: 60px;}
.four-list .list .f{margin-left: 30px;}
.who{width: 100%;height: 530px;}
.who-a{float: left; position: relative;}
.left-who{width: 50%; height: 530px;}
.left-who img{width:760px; height: 530px;}
.right-about{width: 49.5%; height: 530px; background: #008bd5;}
.who-txt{position: absolute; padding:34px 6px; background: dodgerblue; color: white;font-size: 20px; top:150px;left: 160px;display: none;}
.who-txt .who-we{margin-left: 25px;}
.who-txt .who-a{margin-left: 10px;}
.who .right-txt{margin-top: 210px;margin-left: 110px; display: none;}
.who .right-txt .about-title{color: white; font-size: 22px; margin-left: 210px;}
.who .right-txt .bjxn-1{color: white; font-size: 14px;}
.who .right-txt .bjxn-1 .shuxue{margin-left: 110px;}
.who .right-txt .bjxn-2{font-size: 12px; color: gainsboro;}
.who .right-txt .bjxn-2 .prdu{margin-left: 50px;}
.who .right-txt .more{border:1px gray solid ; padding: 10px 30px;color: gainsboro; margin-left:200px;}
.who .right-txt .more:hover{background: #049def; cursor: pointer;}									
.box-newcase{width: 100%;height: 210px; background: #e1e1e1; }	
.box-newcase .news-left{float: left; margin-top:100px; margin-left: 140px;}			
.box-newcase .news-left .new-txt {background:#008bd5; padding: 30px;  color: white; font-size: 22px;}			
.new-right{float: right; margin-right: 184px;margin-top: 180px;}
.new-right ul li{float: left; color: dimgray ; padding: 6px 14px; margin-right: 10px;}
.new-right ul li:hover{background: #008bd5; color: white;}	 						
.img-ct{margin-left: 90px;height: 790px; border:1px #e1e1e1 solid;}				
.img-ct .img-ct-cont{margin-top:110px ;}
.img-ct .img-ct-cont .img-ul-1 li img{width: 410px; height: 240px;}						
.img-ct .img-ct-cont .img-ul-1 li{ width: 410px; height: 240px;float: left; position: relative; overflow: hidden;  margin-left: 30px;}
.img-ct .img-ct-cont .img-ul-1 li .img-txt{position: absolute; height: 0; bottom: 0;}	
.img-ct .img-ct-cont .img-ul-1 li .img-txt .text{color: white; position: absolute; z-index: 1; font-size: 14px;}								
.anli-box{position: relative;}
.anli-box .anli-box-txt{ position: absolute;right: 700px;padding: 10px 30px; cursor: pointer; top: 30px; border: 1px grey solid;}
.anli-box .anli-box-txt:hover{background: #049DEF;}											
.three-cade{position: absolute; margin-top: 40px ;background: #d1d1d1;  width: 100%; height: 380px;}				
.news{position: relative; margin-top: 100px; left: 50px;}
.news .container{position: relative;height: 200px; width: 85%; background: #d1d1d1;}
.news .list{display: none;position: absolute;top: 0;}
.news .container .list .clearfix-1,.news .container .list .clearfix-2,.news .container .list .clearfix-3{margin-top: 100px;}
.news .item{width: 350px;float: left; margin-left: 60px;}
.news .item:hover{box-shadow:0 0 20px 2px gray ;;}
.news .item h3{font-size: 18px; color: black; font-weight: normal;}
.news .item p{font-size: 16px;}			
.news .item .date{float: left;width: 70px;padding: 20px;}
.news .item .content{float: left;padding: 15px;width: 180px;}
.news .item .content p{font-size: 12px; color: gray;}
.news .btn-list{position: absolute;width: 100%;text-align: center;}
.news .btn-list span{display: inline-block;width: 7px;height: 7px;background: dimgray;border-radius: 50%;}
.news .btn-list span.active{background: #0086CC;}
.news .btn{background: #ccc;}
.news .btn.active{background: #0086CC;}	
.news .bttn{right:120px; top: -60px; position: absolute;}
.news .bttn button{border: none; outline: none; padding: 10px 20px; cursor: pointer;}			
.server-foot{ width: 100%; height: 440px;background: #505050; margin-top: 423px;}
.server-foot .server-cont .server-left{float: left; width: 350px; height: 320px; margin-left: 100px; margin-top: 150px;}
.server-foot .server-cont .server-left ul li{font-size: 24px; color: white; margin-top: 65px;}
.server-foot .server-cont .server-left ul li img{margin-left: 15px;}
.server-foot .server-cont .server-right{float: right; width: 790px; height: 320px; margin-top:180px;}
.server-foot .server-cont .server-right ul li{float: left; margin-left: 70px;}
.server-foot .server-cont .server-right .server-ul-li{display: block;}
.server-foot .server-cont .server-right .server-ul-li li{margin-top: 30px; color: white; font-size: 14px;}
.server-foot .server-cont .server-right .server-ul-li .server-ul-li-1{padding:0 10px 10px 0; }
.footer{position: relative; width: 100%; height:100px; background: #404040;z-index: 2; margin-bottom: -50px;}
.footer .footer-conte{position: absolute; bottom: 20px; left: 70px; font-size: 14px; color: gray;}